# The example nginx config file with https support
server { # Supports IPv6 connections

    # Listen for any traffic hitting your Pi's IP address
    server_name domain_name_here;

    root /home/gabe/Server/personal_website/website;
    index index.html;

    location / {
        # Check for literal file, then check for folder.
        # If neither exists, hand the request to the Python backend.
        try_files $uri $uri/ @backend;
    }

    # Tries the python backend if it fails to find the files
    location @backend {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Prevent broken connections if Python takes a moment to process
        proxy_connect_timeout 5s;
        proxy_read_timeout 10s;
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate ssl_certificate_file_location_here; # managed by Certbot
    ssl_certificate_key ssl_certificate_key_file_location_here; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot

}

server {
    if ($host = domain_name_here) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    listen [::]:80;
    server_name domain_name_here;
    return 404; # managed by Certbot


}
