# The example nginx config file
server {
    listen 80;
    listen [::]:80; # Supports IPv6 connections

    # Listen for any traffic hitting your Pi's IP address
    server_name ip_or_domain_name_here;

    root /home/gabe/Server/personal_website/website;
    index index.html;

    location / {
        # Check for literal file, then check for folder.
        # If neither exists, hand the request to the Python backend.
        try_files $uri $uri/ @backend;
    }

    # Tries the python backend if it fails to find the files
    location @backend {
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        # Prevent broken connections if Python takes a moment to process
        proxy_connect_timeout 5s;
        proxy_read_timeout 10s;
    }
}
